<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>회원가입::</title>
</head>
<body>
<h2>회원가입Page::</h2><hr>
	<form action="/user/join" method="post">
		<input type="text" id="userId" name="userId" placeholder="ID" autofocus="autofocus">
		<input type="password" id="password" name="password" placeholder="비밀번호" >
		<input type="password" id="matchPw" >
		<input type="text" id="userName" name="userName" placeholder="이름">
		<button type="submit" id="joinBtn">회원가입</button>
	</form>
</body>
</html>